.footer-main-container{
    background-color: transparent;
    position:absolute;
    bottom:0px;
    height:10%;
    width:100%;
    padding:10px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:10px;
}

